<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orderfood.springboot.mapper.CarMapper">
    <update id="updateNumber">
        update car set buynumber=#{buynumber} where customerid=#{customerid} and productid=#{productid}
    </update>
    <update id="changeSelect">
        update car set isselect=abs(isselect-1) where customerid=#{customerid} and carid=#{carid}
    </update>
    <delete id="deleteCar">
        delete  from  car where customerid=#{customerid} and carid=#{carid}
    </delete>
    <delete id="deleteByCustomerId">
        delete  from  car where customerid=#{customerid}
    </delete>
    <delete id="deleteSelect">
        delete  from  car where customerid=#{customerid} and isselect=true
    </delete>

    <select id="findpage" resultType="com.orderfood.springboot.entity.Order">
        select * from car
        left join product on car.productid=product.id
        left join shop on car.shopid=shop.id
        left join customer on car.customerid=customer.id
        <where>
            <if test="customername!=null and customername!=''">
                and customer.customername like concat('%',#{customername},'%')
            </if>
            <if test="shopname!=null and shopname!=''">
                and shop.shopname like concat('%',#{shopname},'%')
            </if>
        </where>
    </select>
</mapper>
