<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orderfood.springboot.mapper.ShopMapper">
    <update id="updateByIdEnable">
        update shop set enable=#{enable} where id=#{id}
    </update>
    <update id="updateByIdState">
        update shop set state=#{state} where id=#{id}
    </update>
    <update id="updateByYiState">
        update shop set state=#{state} where shopaddress like concat('%',#{address},'%')
    </update>

</mapper>
