<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orderfood.springboot.mapper.YiqingMapper">

    <update id="updateNumber" >
        update yiqing set yiqingnumber=yiqingnumber+#{number}  where yiqingaddress=#{address}
    </update>
</mapper>
